@import "../../../theme/theme.scss";

.pagination .mat-paginator {
    width: 100%;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item span {
    white-space: nowrap !important;
}

:host ::ng-deep .dropdown-list ul li h5 {
    font-size: 12px;
}

.excel {
    display: inline-block;
    height: 25px;
    margin-right: 10px;

}

.excelcont {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}


.excel-card {
    display: inline-block;
    border: 0px !important;
}

.excel_btn_container {
    position: relative;
    top: -109px;
    z-index: 10;
    width: 100%;
    right: 10px;
}

.previewbtn {
    display: inline-block;
    padding-left: 28px;
    width: 153px;
    height: 35px;
    margin-right: 10px;
    background: $danger 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $box-shadow;
    border-radius: 27px;
    opacity: 1;
    color: $white;
    font-size: 13px;
    border: 0;
    text-transform: uppercase;
}

.segment-label {
    color: $gray-7;
    font-size: 13px;
    margin: 15px 0 00;
}

.configuretext {

    font-size: 12px;
    text-align: right;
    color: $primary;

}

.promoheading {

    font-style: bold;
    color: $black;
    opacity: 1;
}

.selectedText {
    color: $black;
    font-style: bold;
}

.unselectedText {
    color: $black;
    opacity: 0.5;
}

.prereg {
    background: $smoke-white 0% 0% no-repeat padding-box;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;
    margin: 0px -21px -10px -10px;
    padding: 8px 0 0 10px;
    color: $black;
    font-weight: 600;
    margin-top: -6px;
    padding-bottom: 7px;
    display: block;
    margin-left: -5px !important;
}

.slide_toggle_container {
    width: 100%;
}

:host ::ng-deep .toggle_slider .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $red;
}

.toggle_slider .mat-slide-toggle {
    margin-left: 10px;
}

.toggle_slider {
    position: absolute;
    right: 0;
    padding: 10px;
}

.recommend-offers-card {
    height: 452px;
    background: $white;
    margin-top: 26px;
    box-shadow: 0px 1px 2px $box-shadow;
    border-radius: 12px;
    opacity: 1;

}


.heading_font {

    color: $gray-44;
    font-size: 12px;
}

.showmore {
    color: $primary;
    cursor: pointer;
    bottom: 3px;
    font-size: 11px;
    text-decoration: none;
}

.subcolunmtext {
    font-size: 16px !important;
}

.excel_font {

    font-size: 12px;
}

p {
    margin-bottom: 0rem !important;
}

.subheading_font {

    color: $black;
    font-size: 13px;
}

.button_font {

    color: $white;
    font-size: 13px !important;
}

.add_padding,
.right_box_two {
    padding: 50px;
}

.left__box_one {
    width: 40%;
}

.left__box_two {
    width: 60%;
}

.left_container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.clrblack {
    font-size: 13px;
    color: $black;
}

td.num{
    text-align: right;
    padding-right: 15px!important;
}

.impactIndexColor{
    color: $white
}

td {
    text-align: left;

    font-size: 12px;
}

.right_container {
    width: 100%;
    background: $smoke-white;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    height: 100%;
}

:host ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

:host ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

:host ::ng-deep .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: $warm-white;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray-8;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $Davy-grey;
}

.prodscroll {
    height: 200px;
    overflow-y: scroll;
}

:host ::ng-deep .dropdown-multiselect__caret:before {
    right: -6px !important;
    top: 55% !important;
}

.prodcat {
    // width: 282px;
    height: 29px !important;
    background: $white 0% 0% no-repeat padding-box;
    border: 0px solid $gray-92;
    border-radius: 3px;
    opacity: 1;
    padding: 0;
    font-size: 12px;
}

.listborder {
    padding: 0 0 10px 30px;
    list-style-type: none;
    border-bottom: 2px dashed $gray-2;
}

.product {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid $primary;
    padding: 0 0 10px 0;
    width: max-content;
}

.startdt {
    // background: $white 0% 0% no-repeat padding-box;
    // border: 1px solid #EBEBEB;
    // border-radius: 3px;
    opacity: 1;
    font-size: 13px;
    // padding: 3px;
}

.date__picker span {
    color: $gray-44;
    font-size: 13px;
    margin-right: 10px;
}

.date__picker .cal_icon {
    background: $danger;
    padding: 5px;
    top: 7px;
    position: absolute;
    right: 0;
}

:host ::ng-deep .select_cont .ng-select .ng-select-container:after {
    display: none;
}

:host ::ng-deep .select_cont .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    bottom: 31px;
}

:host ::ng-deep .select_cont .ng-select .ng-select-container .ng-value-container {
    margin-top: -12px;
    padding-left: 8px;
}

:host ::ng-deep .select_cont span.ng-clear-wrapper {
    display: none;
}

:host ::ng-deep .select_cont .ng-dropdown-panel {
    margin-top: 20px;
}

:host ::ng-deep .select_cont .ng-select .ng-arrow-wrapper .ng-arrow {
    color: $primary
}

:host ::ng-deep .select_cont .ng-select .ng-input {
    display: none !important;
}

:host ::ng-deep .select_cont {
    margin-right: 20px;
}

:host ::ng-deep .select_cont .ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
    color: $primary !important
}

:host ::ng-deep .weeks_dropdown .select_cont span.ng-value-label {
    display: block;
    width: 64px !important;
    z-index: 55556;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    top: 0
}

:host ::ng-deep .select_cont .ng-select .ng-select-container:after {
    display: none;
}

:host ::ng-deep .select_cont .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    bottom: 35px;
    right: -42px;
}

:host ::ng-deep .select_cont .ng-select .ng-select-container .ng-value-container {
    margin-top: -12px;
    padding-left: 8px;
}

:host ::ng-deep .select_cont span.ng-clear-wrapper {
    display: none;
}

:host ::ng-deep .select_cont .ng-dropdown-panel {
    margin-top: 20px;
}

:host ::ng-deep .select_cont .ng-select .ng-arrow-wrapper .ng-arrow {
    color: $primary
}

:host ::ng-deep .select_cont .ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
    color: $primary !important
}

// dummy
:host ::ng-deep .promo_select.segment_filer .ng-select-container:after {
    display: none !important;
}

:host ::ng-deep .promo_select.segment_filer .ng-select-container .ng-value-container {
    border-top: 0;
}

:host ::ng-deep .promo_select.segment_filer .ng-select-container .ng-arrow-wrapper {
    bottom: 28px;
}

:host ::ng-deep .promo_select.segment_filer span.ng-value-label.ng-star-inserted {
    text-overflow: ellipsis;
    width: 10px;
    display: block;
    white-space: nowrap;
}

:host ::ng-deep .cdk-column-segment_namechild {
    padding-left: 0px !important;
}

:host ::ng-deep .promo_select.segment_filer .ng-select-container .ng-value-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 56px;
    display: block;
    padding: 5px;
}

.mat-column-checkedchild {
    padding-left: 20px !important;
}

.mat-column-impact_indexchild {
    padding-left: 10px !important;
}

.mat-column-promo_pricechild {
    padding-left: 10px !important;
}

.headpadding {
    margin: 20px;
}

:host ::ng-deep table thead tr th,
:host ::ng-deep table tbody tr td {
    width: 88px;
    // padding: 10px!important;
}

:host ::ng-deep table tbody tr:first-child {
    border-top: 1px dashed $gray-2;
}

:host ::ng-deep .main__table thead tr {
    border-bottom-style: dashed !important;
    border-bottom-width: unset !important;
    border-bottom-color: $gray-2 !important;
}

:host ::ng-deep .main__table td.mat-cell {
    padding-left: 8px !important;
    border-bottom-style: dashed !important;
    border-bottom-color: $gray-2 !important;
    border-bottom-width: unset !important;
}
:host ::ng-deep .main__table td.num {
    padding-right: 14px!important;
}
:host ::ng-deep .main__table td.num2 {
    padding-right: 25px!important;
}

:host ::ng-deep .inner-table td.mat-cell {
    border-bottom-style: dashed !important;
}

:host ::ng-deep .inner-table table {
    margin-bottom: 20px !important;
}

:host ::ng-deep .inner-table table {
    background: $gray-97;
}

tr.example-detail-row {
    height: 0;
}

:host ::ng-deep td.cdk-column-itemschild span.selectedText {
    display: block;
    width: 100px;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: $smoke-white;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid $black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.subheading_font {

    color: $black;
    font-size: 13px;
}

.inner-table {
    width: 100%;
}

.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}

span.more__data {
    color: $gray-3;
}

:host ::ng-deep .main__table thead tr th {
    /* background: beige; */
    width: 250px !important;
    padding-left: 8px !important;

}

:host ::ng-deep .cdk-column-promo_mech {
    padding-right: 35px !important;
}

:host ::ng-deep .mat-column-promo_mechchild span {
    // display: block;
    width: 80px;
}

:host ::ng-deep .mat-column-promo_mech b {
    width: 45px !important;
    // display: block;
}

.date__picker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

.mar_class {
    margin-left: -35px;
}

.startdt {
    width: 100px;
}

.start__date {
    display: flex;
    align-items: center;
}

:host ::ng-deep .date__picker .ng-select {
    height: 0 !important;
}

.weeks_dropdown {
    display: block;
    width: 100%;
    max-width: 250px;
}

.select_cont span {
    margin-right: 10px;
}

.select_cont {
    width: 100%;
    display: flex;
    align-items: center;
}

:host ::ng-deep .select_cont span {
    display: block;
    width: 100%;
}

.impact__btn {
    border: 0;
    background-color: transparent;
    font-size: 12px;
    color: $primary;
}

span.btn__cont {
    display: flex;
    align-items: center;
}

.note_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note {
    font-family: 'italic normal normal Speedee';
    font-size: 12px;
    color: $black;
    text-align: left;
    opacity: 0.5;
    margin-top: 10px;
    width: 50%;
    text-align: left;
    display: inline-block;
}

.configuretext .tooltiptext {
    visibility: hidden;
    background-color: $primary;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: -80px;
    margin-left: -190px;
    padding: 5px;
    width: 200px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.configuretext:hover .tooltiptext {
    visibility: visible;
}

.prod_type {
    padding-left: 15px;
}


.updateindex {
    font-size: 14px;
    letter-spacing: 0px;
    color: $primary;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    right: 16%;
    padding-top: 6px;
}

.left {
    position: relative;
    left: 20%;
}

.rightalign {
    float: right;
}

.colunmtext {
    font-size: 18px;
    opacity: 1;
    background: transparent 0% 0% no-repeat padding-box;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 9px;
}

.align-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 17px;
}

.mat-card {
    height: 344px;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-Text {
    position: relative;
    top: 1px;
}

.btn-Arrow-Right {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-impact-text {
    margin-right: 43px;
    position: relative;
    top: 22px;
}

.impactIndex{
    display: inline-block;
}

.img-impactIndex{
    display: inline-block;
    padding-left: 24px;

}

.txt-impactIndex {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: $primary;
    opacity: 1;
    padding-left: 6px;
}

.table-container {
    position: relative;
    max-height: 300px;
    overflow-y: auto;
  }
