<section id="login">
    <!-- <mat-select name="language" class="langsel" (selectionChange)="onSelectionChange($event)"
        [(ngModel)]="selectedLanguage">
        <mat-option *ngFor="let lang of languageSelect" [value]="lang.language_description">
            {{lang.language_description}}</mat-option>
    </mat-select> -->
    <input class="startdt langsel input__drop" readonly [(ngModel)]="selectedLanguage">
    <span class="lang">{{'lang.login.language' | translate}}</span>
    <form [formGroup]="forgotForm">
        <div class="row divheight">
            <div class="col-md-7 leftside">
                <div class="form_cont">
                    <h1 class="title">
                        <mat-icon class="back-arrow cursorhand" (click)="forgotCancel()">keyboard_arrow_left</mat-icon>
                        <span class="lineheight title_text">{{'lang.forgot.forgot_pass' | translate}}</span>
                    </h1>
                    <h6 class="subtitle">{{'lang.forgot.have_trobule' | translate}}</h6>
                    <h6 class="subtitle1">{{'lang.forgot.reset' | translate}}</h6>
                    <div class="img__input">
                        <img src="assets/login/email.png" alt="Email" class="emailicon">
                        <input formControlName="emailForgot" type="text" name="username"
                            class="form_input inputemail marginleft toppadding" placeholder="Username"
                            [ngClass]="{ 'is-invalid': submitted && forgotFormControl.emailForgot.errors }">
                    </div>

                    <div *ngIf="forgotFormControl.emailForgot.invalid && (forgotFormControl.emailForgot.dirty || forgotFormControl.emailForgot.touched)"
                        style="text-align:'left'">

                        <mat-error *ngIf="forgotFormControl.emailForgot.errors?.['required']" class="usererrmsg">
                            {{'lang.login.userrequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="forgotFormControl.emailForgot.errors?.['pattern']" class="usererrmsg">
                            {{'lang.login.validusername' | translate}}</mat-error>
                    </div>

                </div>

                <div class="form_cont">
                    <div class="forget__btn__cont">
                        <button mat-button color="warn" class="signinbtn" type="submit" [disabled]="forgotForm.invalid"
                            (click)="forgotPayLoad()">{{'lang.common.next' | translate}}</button>
                        <button class="cancel__btn" (click)="forgotCancel()">{{'lang.common.cancel_small'
                            | translate}}</button>
                    </div>
                </div>
                <div class="form_cont rember">
                    <h6 class="subtitle1 toppadding">{{'lang.forgot.dontremember' | translate}}</h6>
                    <h6 class="subtitle_help">{{'lang.popup.email_conf' | translate}} {{supprtEmail}}.</h6>
                </div>
            </div>

            <div class="col-md-5 leftright">
                <div class="imgdiv">
                    <img src="assets/login/arches.png" alt="Logo" height="500px" class="Mcdlogo">
                </div>
            </div>
        </div>
    </form>
</section>