<div class="container-fluid">
  <div class="row">
    <section class="d-flex w-100 filters">
      <div class="d-flex form-element align-items-center">
        <div class="form-input package-id">
          <input type="text" name="offerID" class="form-control" placeholder="ID" [(ngModel)]="packageID">
        </div>
      </div>

      <div class="d-flex form-element align-items-center">
        <div class="form-input package-name">
          <input type="text" name="offerName" class="form-control" placeholder="Name" [(ngModel)]="packageName">
        </div>
      </div>

      <div class="d-flex form-element align-items-center">
        <div class="form-input start-data">
          <mat-form-field class="w-100 reset-default-wrapper" appearance="outline">
            <input matInput [matDatepicker]="picker1" name="stadate" placeholder="Start Date"
              class="date_picker table_des_portal" (dateChange)="start_Dt($event)" [(ngModel)]="stDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1">
              <mat-icon matDatepickerToggleIcon class="calicon filstdate" style="bottom: 17px;left: 2px;">
                <img src="assets/offer-configuration/dateicon.png" style="margin-top: -10px;">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex form-element align-items-center">
        <div class="form-input">
          <angular2-multiselect class="form-control prodcat" [(ngModel)]="geo_name" [settings]="geodropdownSettings"
            [data]="geoData" (onSelect)="onGeoSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
            (onDeSelect)="onGeoDeSelect($event)" (onDeSelectAll)="onGeoDeSelectAll($event)" placeholder="Geo">
          </angular2-multiselect>
        </div>
      </div>

      <div class="d-flex form-element align-items-center">
        <div class="form-input">
          <angular2-multiselect class="form-control prodcat" [(ngModel)]="promo_type" [settings]="promodropdownSettings"
            [data]="promoChannelData" (onSelect)="onPromoSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onpromoDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
          </angular2-multiselect>
        </div>
      </div>

      <div class="form-action">
        <button type="button" (click)="filterDTO()" class="btn btn-outline-danger"><img
            src="assets/job-summary/sliders.svg" style="margin-top: -10px;">{{'lang.scenario_planner.filter' |
          translate}}</button>
        <button type="button" (click)="OfferIdFilter()" class="btn btn-outline-danger"><img
            src="assets/job-summary/clockcounterclockwise.svg"
            style="margin-top: -10px;">{{'lang.scenario_planner.reset' | translate}}</button>
      </div>
    </section>

    <mat-card class="card">
      <img src="assets/offer-configuration/left-arrow.png" class="leftarrow" alt="Back" (click)="goBack()">
      <h6 class="titleimport">{{'lang.scenario_planner.import_recom' | translate}}</h6>
      <mat-radio-group [(ngModel)]="selectedStatus" (change)="offerIdChange($event)">
        <div class="form-group bordbottom" *ngFor="let offer of offerRecommedData;">

          <div class="package_delete">
            <div>
              <mat-radio-button value="{{offer.scenario_id}}"></mat-radio-button>
              <label class="package">{{'lang.scenario_planner.offer_name' | translate}}</label>
              <span class="left">:</span><span class="dataleft"
                (click)="onOfferdetailNavigation(offer.package_id, offer.scenario_id)">{{offer.scenario_name}}</span>
            </div>

          </div>
          <label class="startdate">{{'lang.jobsummary.start' | translate}}</label>
          <span class="startleft">:</span><span class="stdate">{{offer.min_start_date | date: "MMMM d, y"}} -
            {{offer.max_start_date | date: "MMMM d, y"}}</span>
          <br>
          <label class="startdate">{{'lang.scenario_planner.geo_channel_promotype' | translate}}</label>
          <span class="segmentleft">:</span>
          <ng-container *ngIf="offer.coops.length != 0">
            <span
              class="stdate">{{offer.coops[0].coop_name}}&nbsp;{{offer.channel}}&nbsp;{{offer.coops[0].promo_type}}</span>
            <a *ngIf="offer.coops.length > 1" class="showmore"
              (click)="showItemModel(showMoreModal,offer.coops)">{{'lang.discount_config.showmore'
              | translate}}...</a>
          </ng-container>
          <ng-container *ngIf="offer.coops.length == 0">
            <span class="stdate">-- Nil --</span>
          </ng-container>
          <br>
          <label class="startdate">{{'lang.discount_config.duration' | translate}}</label>
          <span class="discountleft">:</span><span class="stdate">{{offer.duration[0]}}</span>
          <span class="fontfix" *ngIf="offer.duration[0] > 1">&nbsp;{{'lang.scenario_planner.weeks' |
            translate}}</span>
          <span class="fontfix" *ngIf="offer.duration[0] == 1">&nbsp;{{'lang.scenario_planner.week' |
            translate}}</span>
          <span class="stdates"> - {{offer.duration[1]}}</span>
          <span class="fontfix" *ngIf="offer.duration[1] > 1">&nbsp;{{'lang.scenario_planner.weeks' |
            translate}}</span>
          <span class="fontfix" *ngIf="offer.duration[1] == 1">&nbsp;{{'lang.scenario_planner.week' |
            translate}}</span>
        </div>
      </mat-radio-group>
      <mat-paginator class="paginator--right" #paginator [length]="totalCount" (page)="pageEvent($event)"
        [pageSize]="limit" [pageIndex]="pageIndex" [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true">
      </mat-paginator>
      <button mat-button color="warn" (click)="importScenario()" [disabled]="undefined==selectedStatus"
        class="importbtn">{{'lang.scenario_planner.import' | translate}}</button>
    </mat-card>
  </div>
</div>

<!-- Segment Modal-->
<ng-template #segmentModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title seglist" id="modal-basic-title">Geo;Channel;PromoType List</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body prodscroll">
    <ul class="listborder">
      <li class="seglist" *ngFor="let segment of segmentList">
        {{segment.coop_name}}&nbsp;{{channelList}}&nbsp;{{segment.promo_type}}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>


<!-- Show More popup -->
<ng-template #showMoreModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{'lang.scenario_planner.geo_channel_promotype_list' |
      translate}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body prodscroll">
    <div class="datatable">
      <table mat-table [dataSource]="segmentList">
        <ng-container matColumnDef="coop_name">
          <th mat-header-cell *matHeaderCellDef class="pl-2 offerwidth pr-2"> <b
              class="clrblack">{{'lang.jobsummary.geoName' |
              translate}}</b> </th>
          <td mat-cell *matCellDef="let row" class="pl-2 pr-2">

            {{row.coop_name}}

          </td>
        </ng-container>

        <ng-container matColumnDef="promo_type">
          <th mat-header-cell *matHeaderCellDef class="pl-2 offerwidth pr-2"> <b
              class="clrblack">{{'lang.jobsummary.promoType' |
              translate}}</b> </th>
          <td mat-cell *matCellDef="let row" class="pl-2 pr-2">
            {{row.promo_type}}
          </td>
        </ng-container>

        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef class="pl-2 offerwidth pr-2"> <b
              class="clrblack">{{'lang.jobsummary.start' |
              translate}}</b> </th>
          <td mat-cell *matCellDef="let row" class="pl-2 pr-2">
            {{row.start_date}}
          </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef class="pl-2 offerwidth pr-2"> <b
              class="clrblack">{{'lang.jobsummary.duration' |
              translate}}</b> </th>
          <td mat-cell *matCellDef="let row" class="pl-2 pr-2">
            {{row.duration_max}} {{segmentList.length > 0 ? week : ''}}

          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="coopsDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: coopsDisplayColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell center" colspan="8">{{'lang.jobsummary.nodata' | translate}}</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>