<div class="container-fluid">
    <div class="row">
        <mat-card class="card">
            <div class="">
                <img src="assets/job-summary/circle-outline.png" class="infoicon" alt="Help">
                <p class="nocontent">{{'lang.scenario_planner.initial_content' | translate}}</p>
                <div class="center">
                    <p class="import" (click)="importOffer()"><img src="assets/scenario-planner/files.png"
                            class="importicon">{{'lang.scenario_planner.import_recom' | translate}}</p>
                    <div class="importborder"></div>
                    <p class="create"><span role="button" class="d-inline-block " (click)="redirect()"><img src="assets/scenario-planner/plus.png"
                            class="importicon">{{'lang.scenario_planner.create_discount' | translate}}</span>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
</div>