@import "../../../theme/theme.scss";

.impact_title_1 {
    font-size: 12px !important;
    color: $black;
    opacity: 0.5;
    width: 85px;
}

.startdt {
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid $gray-92;
    border-radius: 3px;
    opacity: 1;
    font-size: 13px;
    padding: 0;
    width: 120px
}

:host ::ng-deep .drop_down_cont .ng-select .ng-select-container:after{display: none;}
:host ::ng-deep .drop_down_cont .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{bottom: 31px;}
:host ::ng-deep .drop_down_cont .ng-select .ng-select-container .ng-value-container{ margin-top: -12px;padding-left: 8px;}
:host ::ng-deep .drop_down_cont span.ng-clear-wrapper {display: none;}
:host ::ng-deep .drop_down_cont .ng-dropdown-panel {margin-top: 20px;}
:host ::ng-deep .drop_down_cont .ng-select .ng-arrow-wrapper .ng-arrow{color:$primary}
:host ::ng-deep .drop_down_cont .ng-select .ng-input{display: none !important;}
:host ::ng-deep .drop_down_cont .select_cont {margin-right: 20px;}
:host ::ng-deep .drop_down_cont .ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow{color:$primary !important}

.select_cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.drop_down_cont .select_cont {
    width: 210PX;
}


