<section id="login">
    <!-- <mat-select name="language" class="langsel" (selectionChange)="onSelectionChange($event)"
        [(ngModel)]="selectedLanguage">
        <mat-option *ngFor="let lang of languageSelect" [value]="lang.language_description">
            {{lang.language_description}}</mat-option>
    </mat-select> -->
    <input class="startdt langsel input__drop" readonly [(ngModel)]="selectedLanguage">
    <span class="lang">{{'lang.login.language' | translate}}</span>
    <form [formGroup]="resetForm">
        <div class="row divheight">

            <div class="col-md-7 leftside">


                <div class="form_cont">

                    <h1 class="title title_text">{{'lang.forgot.reset_pass' | translate}}</h1>
                    <h6 class="subtitle">{{'lang.reset.reset_inner.sub_title' | translate}}</h6>
                    <div class="subtitle setmargin">
                        <ul style="list-style: decimal;" class="forgot__list">
                            <li>{{'lang.reset.reset_inner.error_msg_1' | translate}}</li>
                            <li>{{'lang.reset.reset_inner.error_msg_1_1' | translate}}
                            <!-- <li style="list-style: none;"> -->
                                <ul class="dashed">
                                    <li>{{'lang.reset.reset_inner.error_msg_2' | translate}}</li>
                                    <li>{{'lang.reset.reset_inner.error_msg_3' | translate}}</li>
                                    <li>{{'lang.reset.reset_inner.error_msg_4' | translate}}</li>
                                    <li>{{'lang.reset.reset_inner.error_msg_5' |
                                        translate}}&nbsp;{{'lang.reset.reset_inner.specialChar' | translate}} </li>
                                </ul>
                            </li>
                            <li>{{'lang.reset.reset_inner.error_msg_6' | translate}}</li>
                        </ul>
                    </div>

                    <div class="input__box setmargin">
                        <span>
                            <img src="assets/login/lock.png" alt="Email" class="emailicon">
                        </span>
                        <input formControlName="passwordNew" type="password" name="username"
                            class="form_input inputemail  "
                            placeholder="{{'lang.reset.reset_inner.new_password' | translate}}" pattern="^\S*$"
                            [ngClass]="{ 'is-invalid': submitted && resetFormControl.passwordNew.errors }">
                        `
                        <div
                            *ngIf="resetFormControl.passwordNew.invalid && (resetFormControl.passwordNew.dirty || resetFormControl.passwordNew.touched)">

                            <mat-error *ngIf="resetFormControl.passwordNew.errors?.['required']" class="usererrmsg">
                                {{'lang.reset.error_message.pwd_req' | translate}}
                            </mat-error>
                            <mat-error *ngIf="resetFormControl.passwordNew.errors?.['pattern']" class="usererrmsg">
                                {{'lang.login.validpassword' | translate}}</mat-error>
                        </div>
                    </div>
                    <div class="input__box">
                        <span>
                            <img src="assets/login/lock.png" alt="Email" class="emailicon">
                        </span>

                        <input formControlName="passwordConfirm" type="password" name="password"
                            class="form_input inputemail"
                            placeholder="{{'lang.reset.reset_inner.confirm_password' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && resetFormControl.passwordConfirm.errors }" required>
                        <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                        <div
                            *ngIf="resetFormControl.passwordConfirm.invalid && (resetFormControl.passwordConfirm.dirty || resetFormControl.passwordConfirm.touched)">
                            <mat-error *ngIf="resetFormControl.passwordConfirm.errors?.['required']" class="usererrmsg">
                                {{'lang.reset.error_message.pwd_valid' | translate}}
                            </mat-error>
                            <mat-error *ngIf="resetFormControl.passwordConfirm.errors?.['mustMatch']" class="usererrmsg">
                                {{'lang.reset.error_message.pwd_match' | translate}}</mat-error>
                        </div>

                    </div>


                </div>

                <div class="form_cont">
                    <div class="forget__btn__cont">
                        <button mat-button color="warn" class="signinbtn" type="submit" [disabled]="resetForm.invalid"
                            (click)="resetPayload()"> {{'lang.common.send' | translate}}</button>
                        <button class="cancel__btn" (click)="resetCancel()">
                            {{'lang.common.cancel_small' | translate}}</button>
                    </div>
                </div>

            </div>

            <div class="col-md-5 leftright">
                <div class="imgdiv">
                    <img src="assets/login/arches.png" alt="Logo" height="500px" class="Mcdlogo">
                </div>
            </div>
        </div>
    </form>
</section>