
#login p{margin: 0;}
section#login {
    height: 100vh !important;
    overflow: hidden;
}
section#login {
    background: #FAFAFA;
    color: #ffff;
    // height: 100%;
    width: 100%;
}
.divheight {
    width: 100%;
    margin: 0;
}
.leftside {
    float: left;
}
.marginleft {
    margin-top:35px;
}
.leftright {
    float: left;
    padding-right: 0;
}
.input__box span {
    position: absolute;
    top: 10px;
    left: 53px;
}
.input__box{position: relative;}
.title{
    color: #DB0006;
    font-size: 28px ;
    margin-top: 10px;
    // margin-left: 258px;
    // width: 202px;
    height: 56px;
    // font-size: 44px;
    text-align: center;
    opacity: 1;
}
.subtitle{
    color: #3C3C3C;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
  font-family:'Speedee_Rg' ;
    letter-spacing: 0px;}
.subtitle_help{
    color: #DB0006;
    font-size: 18px ;
    margin-top: 10px;
    text-align: left;
    opacity: 1;
    cursor: pointer;
}
.forget__btn__cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    // margin-left: 11%;
}
.inputemail{
   background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    border: none;
    width: 100%;
    padding: 10px 50px;
}
.form_cont {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0 45px 0px 0;
}
.usererrmsg {
    font-size: 13px;
    font-weight: 500;
    color: #DB0006;
    position: absolute;
    top: 45px;
    padding: 0;
    text-align: left;
    left: 0;
    // margin: 8px 0px 8px 0px;
}
.minlenpass {
    font-size: 13px;
    font-weight: 500;
    color: #DB0006;
    position: relative;
    bottom: 10px;
    padding: 0 36% 0 0;
    width: 500px;
}
.userinvalid {
    font-size: 13px;
    font-weight: 500;
    color: #DB0006;
    position: relative;
    bottom: 10px;
    padding: 0 56% 0 0;
}
.invalidpass {
    font-size: 13px;
    font-weight: 500;
    color: #DB0006;
    position: relative;
    bottom: 10px;
    padding: 0 57% 0 0;
    width: 500px;
}
.example-margin {
    margin-left: 162px;
    width: 17px;
    height: 17px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    /* text-align: left; */
    font-size:13px/30px ;
    letter-spacing: 0px;
    color: #000000;
}
.input__drop{
    color: #fff;
    font-size: 12px;
    /* margin-top: 0px; */
    padding: 5px;
}
#login input.startdt.langsel.input__drop{border: 0 !important;}
input.startdt.langsel.input__drop:focus {outline: 0;}
.mat-button.mat-button-base.mat-warn.mat-button-disabled {
    cursor: not-allowed;
}
.cancel__btn{
 color: #000 !important;
    font-size: 16px;
    font-family:'Speedee_Rg';   
     margin-top: 36px;
    width: 100%;
    max-width: 170px;
    height: auto;
    padding: 4px 0;
    opacity: 1;
    margin-bottom: 30px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -10px;
  display: inline-block;
}
:host ::ng-deep .langsel  .mat-select-arrow{
    width: 16px;
    height: 6px;
    border: 0;
    background: url(http://localhost:4200/assets/login/dropdown_icon.svg);
    background-repeat: no-repeat;
}
button.cancel__btn {
    border: 0;
    background: transparent;
}
.signinbtn {
    // margin-left: 256px;
    margin-top: 35px;
    width: 100%;
    max-width: 170px;
    height: auto;
    padding: 4px 0;
    background: #DB0006 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
     font-family:'Speedee_Rg' ;
    color: #fff;
    margin-bottom: 30px;
}
.forgot{
    margin-left: 304px;
    width: 111px;
    height: 18px;
    text-align: right;
    font-size: 14px/18px ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.langsel {
    width: 127px;
    height: 29px;
    float: right;
    background: #DB0006 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin: 10px 10px 0 0;
}
.lang { 
    color: #000;
    float: right;
    margin: 15px 10px 0 0;
    font-size: 14px;
     font-family:'Speedee_Rg' ;
}
.mat-select-arrow {
    color: #fff !important;
}
.login_contetent {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 300px;
}
.Mcdlogo {
   margin-top: 30px;
    width: 703px;
    position: fixed;
    right: -208px;
    height: 588px;
    opacity: 1;
    background: transparent 0% 0% no-repeat padding-box;
}
.emailicon {
    position: relative;
    left: -40px;
    opacity: 0.8;
    bottom: 2px;    
}
.toppadding{
    margin-top: 20px;
}
.lockicon {
    position: relative;
    left: 30px;
    bottom: 2px;
    opacity: 0.8;
}
.imgdiv {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.form_container .form_input {
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.form_container {margin-top: 20px;}
.login_contetent h4 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
button.sing_btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}
a.forgot_link {
    margin-top: 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
.setmargin{
    margin-top: 25px;
}
.password__info{
    color: #000; 
}
.lineheight{
    line-height: 23px !important;
}
.title{
    color: #000;
    font-size: 18px;
    height: 56px;
    text-align: left;
    font-family:'Speedee_Rg' ;
}
.title_text{
  color: #000; 
  font-size: 18px;
  font-family:'Speedee_Rg' ;
}
.forgot__list{
  padding: 0;
  padding-left: 15px;  
}
.mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled{
    color: #fff;
    opacity: 0.5;
}
 ul.dashed {
        list-style-type: none;
      }
      ul.dashed > li {
        text-indent: -20px;
      }
      ul.dashed > li:before {
        content: "-";
        text-indent: -20px;
      }
@media only screen and (max-width:580px){
    .login_contetent{
        transform: translate(-50%, 25%);
    }
    section#login{
        // height: 100%;
        width: 100%;
    }
    .title{width: 100%;margin-top: 0;margin-left: 0;}
    .inputemail{width: 100%;    margin: 0px 0px 15px 0px;margin-top: 0 !important;}
    .signinbtn{    margin: 16px 0 !important;;width: 100%;height: auto;padding: 8px 0; font-family:'Speedee_Rg' ;}
    .example-margin{margin-left: 0;}
    .imgdiv{height: 0;display: none;}
    .emailicon {
        left: 25px;
        top: 80px;
    }
    .lockicon{
        left: 25px;
        top: 140px;
    }
    .forgot{
        margin-left: 0;
        width: 100%;
        text-align: center !important;
        margin: 10px auto;
        display: block;
    }
    .form_cont{width: 100%;}
    
}

.errmsg {font-size: 11px;}